<h1>{{title}}</h1>
<button id="clic">
  click
</button>

<script>
  const button = document.getElementById('clic')
  button.addEventListener('click', ()=>{ console.log('clikeado') alert('tu
  trabajo a funcionado anda a dormir') })
</script>